/HelloWorl/nbproject/private/
/HelloWorl/build/
/Slide30.java/nbproject/private/
/Slide30.java/build/
/Slide34.java/nbproject/private/
/Slide34.java/build/
/Slide35.jva/nbproject/private/
/Slide35.jva/build/
